#blank {
  height: 10vh;
}
#logo {
  width: 10%;
  margin-right: 5%;
}
#start {
  color: white;
}
#scroll {
  background-color: rgba(253, 201, 0, 0.15);
}
#character {
  width: 70%;
}
nav {
  background-color: white;
}
#s_btn1,
#s_btn2 {
  color: white;
}
#s_btn1 {
  margin-right: 5%;
}
/* footer */
footer {
  background-color: rgb(240, 240, 241);
}
#f-up {
  margin-bottom: 1%;
}
.footer-area {
  display: flex;
  margin-bottom: 5%;
}
#logo-f {
  width: 15%;
  margin-right: 10%;
}
.footer1 {
  margin-right: 4%;
}
